doctype html

title Lightning Charge Checkout
meta(charset='utf-8')
base(href=settings.url)
meta(name='viewport', content='width=device-width, initial-scale=1')

meta(name='invoice-id', content=invoice.id)

if invoice.status == 'unpaid'
  meta(name='invoice-poll-url', content=settings.url+'checkout/'+invoice.id+'/wait')
  meta(name='invoice-expiry', content=invoice.expires_at)

mixin css(path)
  link(rel='stylesheet', href=settings.static_url+path)

+css('bootstrap.min.css')
+css('checkout.css')

- opt = invoice.metadata && invoice.metadata.checkout || {}

body: .checkout.container
  script window.parent != window && (document.body.className += ' iframed')

  .row
    .desc.col-sm-6
      h3= opt.title || 'Lightning Payment'
      h4= opt.desc || 'Pay with Lightning'
    if msatoshi
      .amounts.col-sm-6
        if invoice.quoted_currency
          h3 #{ invoice.quoted_amount } #{ invoice.quoted_currency }
          h4 #{ formatMsat(invoice.msatoshi) }
        else
          h3 #{ formatMsat(invoice.msatoshi) }

  if invoice.status == 'paid'
    p.thankyou= opt.thank_you || 'Thank you! Your payment has been received.'
    script window.parent != window && window.parent.postMessage({ type: 'completed', invoice: '#{ invoice.id }' }, '*')

  else if invoice.status == 'expired'
    p.expired= opt.expired || 'Your invoice has expired. Please try again.'

  else if invoice.status == 'unpaid'
    .row
      .qr.col-sm-4: img(src=qr)
      .pay.col-sm-8
        pre= invoice.payreq
        a.btn.btn-lg.btn-primary(href=`lightning:${invoice.payreq}`)= opt.button || 'Pay with wallet'

        p.expiry.text-muted Invoice expires in #[span]
        
    if node.address.length
      .row
        .qr.col-sm-12
          h4 Our node
          pre= node.id + "@" + node.address[0].address + ":" + node.address[0].port

    script(src=settings.static_url+'checkout.js')

  script.
    if (window.parent != window) {
      function updateHeight() { window.parent.postMessage({ type: 'height', value: document.body.scrollHeight, invoice: '#{ invoice.id }' }, '*') }
      updateHeight()
      window.addEventListener('resize', updateHeight)
    }
