doctype html5

title Lightning Strike Checkout
meta(charset='utf-8')
base(href=settings.url)
meta(name='viewport', content='width=device-width, initial-scale=1')

if !completed
  meta(name='invoice-poll-url', content=settings.url+'checkout/'+id+'/wait')
  meta(name='invoice-expiry', content=expires_at)

mixin css(path)
  link(rel='stylesheet', href=settings.static_url+path)

+css('bootstrap.min.css')
+css('styl/checkout.css')

- opt = metadata && metadata.checkout || {}

body: .checkout.container
  script window.parent != window && (document.body.className += ' iframed')

  .row
    .desc.col-sm-6
      h3= opt.title || 'Lightning Payment'
      h4= opt.desc || 'Pay with Lightning'
    .amounts.col-sm-6
      if quoted_currency
        h3 #{ quoted_amount } #{ quoted_currency }
        h4 #{ formatMsat(msatoshi) }
      else
        h3 #{ formatMsat(msatoshi) }

  if completed
    p.thankyou= opt.thank_you || 'Thank you! Your payment has been received.'
    script window.parent != window && window.parent.postMessage({ type: 'completed', invoice: '#{ id }' }, '*')

  else if expired
    p.expired= opt.expired || 'Your invoice has expired. Please try again.'

  else
    .row
      .qr.col-sm-4: img(src=qr)
      .pay.col-sm-8
        pre= payreq
        a.btn.btn-lg.btn-primary(href=`lightning:${payreq}`)= opt.button || 'Pay with wallet'

        p.expiry.text-muted Invoice expires in #[span]

    script(src=settings.static_url+'checkout.js')

  script window.parent != window && window.parent.postMessage({ type: 'height', value: document.body.scrollHeight }, '*')
